<table class="table is-fullwidth">
  <thead>
  <tr>
    <th>Users</th>
    <th>Places</th>
    <th>Categories</th>
    <th>Collections</th>
  </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        {{num_users}}
      </td>
      <td>
        {{num_places}}
      </td>
      <td>
        {{num_categories}}
      </td>
      <td>
        {{num_collections}}
      </td>
    </tr>
  </tbody>
</table>
